<div class="eight wide column" id="info">

    {% set path = vich_uploader_asset(catalogue.cover, 'file')|imagine_filter('app_original') %}

    <a class="ui card " href="{{ catalogue.url }}">
        <div class="image">
            <img src="{{ path }}" alt="{{ catalogue.title }}">
        </div>
        <div class="content">
            <a class="header">{{ catalogue.title }}</a>
        </div>
    </a>

</div>
