{% from 'backend/macros/translatiosForm.html.twig' import translationForm %}

<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'app.ui.vehicle_brand_details'|trans }}</h4>
            {{ form_row(form.name) }}
            {{ form_row(form.models) }}
        </div>

    </div>
</div>
