
{% set url = url('app_frontend_join_organisation', { 'token': emailVerificationToken}) %}
{% set url_denied = url('app_frontend_denied_organisation', { 'token': emailVerificationToken}) %}

{% autoescape %}
    Finish your registration here <a href="{{ url|raw }}">{{ url|raw }}</a>
    <br>
    Denied this invitation by accessing this <a href="{{ url_denied|raw }}">link</a>
{% endautoescape %}

