<h2 class="ui center aligned huge header">{{ 'app.ui.latest_articles'|trans }}</h2>
<div class="ui hidden divider"></div>

{#{{ dump(app_get_current_organisation().members) }}#}

{#{% set members = app_get_current_organisation().members %}#}

{#<div class="ui container">#}
{#    {% for member in members %}#}
{#        <h4>{{ member.customer.fullName }}</h4>#}
{#        <div class="ui hidden divider"></div>#}
{#    {% endfor %}#}
{#</div>#}
{{ render(url('app_frontend_partial_article_index_latest', {'count': 3, 'template': 'frontend/homepage/content/_list.html.twig'})) }}

<div class="ui hidden divider"></div>