{% extends 'backend/layout.html.twig' %}

{% import '@SyliusUi/Macro/labels.html.twig' as label %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}book{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
{#        {% include 'backend/vehicle/show/_header.html.twig' %}#}
    </div>

    <div class="ui divider"></div>
{#    {% include 'backend/vehicle/show/_breadcrumb.html.twig' %}#}

    <div class="ui stackable grid">
        {% include 'backend/vehicle/show/_content.html.twig' %}
    </div>
{% endblock %}
