{% extends 'backend/layout.html.twig' %}

{% import '@SyliusUi/Macro/labels.html.twig' as label %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}catalogue{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
    </div>

    <div class="ui divider"></div>
    {% include 'backend/catalogue/show/_breadcrumb.html.twig' %}

    <div class="ui stackable grid">
        {% include 'backend/catalogue/show/_content.html.twig' %}
    </div>
{% endblock %}
